:root{
    --fontClr: #ececec;
    --bgClr: #000000;
}

@font-face {
    font-family: "Quantify";
    src: url("../fonts/Quantify/Quantify.ttf");
}

@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat/Montserrat-Bold.otf");
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.otf");
}

@font-face {
    font-family: "MontserratMedium";
    src: url("../fonts/Montserrat/Montserrat-Medium.otf");
}

@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat/Montserrat-Regular.otf");
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-x: clip !important;

    /* Margin will be changed to fit tablet and phone view */
    margin: 0 144px; 

    background-color: var(--bgClr);
    color: var(--fontClr);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

nav ul{
    display: flex;
    user-select: none;
}

nav ul li{
    list-style-type: none;
    font-family: "MontserratSemiBold";
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;  
    z-index: 1;
}

nav ul li a{
    text-decoration: none;
    color: var(--fontClr);
}

nav ul li:last-child{
    margin-right: 0;
    border-radius: 50px;
    padding: 10px 35px;
    text-align: center;
    color: var(--fontClr);
    background: rgb(180,26,26);
    background: -moz-linear-gradient(180deg, rgba(180,26,26,1) 0%, rgba(255,53,53,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(180,26,26,1) 0%, rgba(255,53,53,1) 100%);
    background: linear-gradient(180deg, rgba(180,26,26,1) 0%, rgba(255,53,53,1) 100%);
}

.burger{
    padding: 5px;
    cursor: pointer;
    display: none;
    z-index: 2;
    cursor: pointer;
}

/* For main container */
.container{
    margin: 0 95px;
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.introduction h1{
    font-family: "Quantify";
    font-size: 140px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    letter-spacing: 15px;
    margin-right: -15px;
    position: relative;
    width: fit-content;

    background: rgb(0,243,252);
    background: -moz-linear-gradient(90deg, rgba(0,243,252,1) 0%, rgba(226,95,95,1) 80%, rgba(255,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,243,252,1) 0%, rgba(226,95,95,1) 80%, rgba(255,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,243,252,1) 0%, rgba(226,95,95,1) 80%, rgba(255,0,0,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.introduction h1::before{
    position: absolute;
    display: block;
    background: rgb(0,243,252);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "-";
    left: -90px;
    top: 0;
}

.introduction h1::after{
    position: absolute;
    display: block;
    background: rgba(255,10,3,1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "-";
    right: -90px;
    top: 0;
}

.introduction h4{
    font-family: "MontserratBold";
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    max-width: 900px;

    background: rgb(0,243,252);
    background: -moz-linear-gradient(90deg, rgba(0,243,252,1) 0%, rgba(226,95,95,1) 80%, rgba(255,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,243,252,1) 0%, rgba(226,95,95,1) 80%, rgba(255,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,243,252,1) 0%, rgba(226,95,95,1) 80%, rgba(255,0,0,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.additionalInfo{
    margin-top: 36px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additionalInfo p{
    font-family: "MontserratRegular";
    font-size: 18px;
    text-align: center;
    max-width: 1000px;
}

.additionalInfo .voteBtn{
    font-family: "Montserrat";
    font-size: 23.04px;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 36px;

    background: rgb(180,26,26);
    background: -moz-linear-gradient(180deg, rgba(180,26,26,1) 0%, rgba(255,53,53,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(180,26,26,1) 0%, rgba(255,53,53,1) 100%);
    background: linear-gradient(180deg, rgba(180,26,26,1) 0%, rgba(255,53,53,1) 100%);
}

.additionalInfo #gifAnimation{
    mix-blend-mode: lighten;
    height: fit-content;
    width: 100%;
    max-width: 900px;
    z-index: -1;
    margin-top: -110px;
}

.partners{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.partners h4{
    font-family: "Quantify";
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.partners img{
    mix-blend-mode: hard-light;
    width: calc(100% + 180px);
}

.about{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h4{
    margin: 0 0 36px 0;
    font-family: "Quantify";
    font-size: 64px;
    font-weight: 500;
}

.about p{
    font-family: "MontserratRegular";
    font-size: 18px;
    text-align: center;
    max-width: 960px;
}

.imageContainer{
    width: 100%;
    max-width: 1419px;
    margin-top: 36px;
}

.swiper-slide.tranding-slid{
    display: block;
    width: 400px;
}

.imageContainer img{
    width: 400px;
    margin: 0;
}

.FAQ{
    margin-top: 160px;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background-image: url("../img/DESKTOP.png");
    background-size: fill;
    background-repeat: no-repeat, no-repeat;
    background-size: 104% 104%;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 160px 0;
    position: relative;
}

.FAQ h4{
    margin: 0 30px 60px 30px;
    font-family: "Quantify";
    font-size: 64px;
    font-weight: 500;
    text-align: center;
}

.FAQ h3{
    margin: 0 30px 30px 30px;
    font-family: "MontserratBold";
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.FAQ p{
    margin: 0 30px 30px 30px;
    font-family: "MontserratRegular";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    max-width: 600px;
}

.FAQContainer{
    display: flex;
    justify-content: center;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 30px;
    position: relative;
}

.footer h4{
    font-family: "Quantify";
    font-weight: 500;
    font-size:200px;
    margin: 0;
}

#footerLogo{
    height: 100%;
}

.footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin: 0 20px;
    gap: 135px;
    width: 100%;
}

.socialMedia, .email{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.socialMedia p, .email p{
    text-align: center;
}

.email p:nth-child(2){
    font-weight: 500;
}

.footer hr{
    width: 100%;
    max-width: 1100px;
    height: 4px;
    background: #FFFFFF;
    outline: none;
    border: none;
}

.footer p:not(:nth-child(2)){
    font-family: "MontserratBold";
}

.footer p:nth-child(2){
    font-family: "MontserratRegular";
}

.bgContainer{
    position: absolute;
    left: 0;
    top: 0;
    max-height: 4656px;
    z-index: -2;
    overflow: hidden;
    width: 100vw;
}

.outer{
    position: relative;
}

.inner{
    margin: -5px 0 0 0;
}

.inner img{
    margin: 0;
    min-height: 1552px;
    width: 100%;
    object-fit: cover;
}

.wave{
    position: absolute;
    width: 100vw;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#orangeWave{
    background-image: url("ELEMENTS/WAVES/DESKTOP/ORANGE\ WAVES.png");
    top: 0;
    left: 0;
}

#blueWaveOne{
    background-image: url("ELEMENTS/WAVES/DESKTOP/blue\ waves@3x\ 2.png");
    top: 1050px;
    left: 0;
}

#blueWaveTwo{
    z-index: -2;
    background-image: url("ELEMENTS/WAVES/DESKTOP/BLUE\ WAVES\ \(FOOTER\).png");
    left: 0;
    top: 3800px;
}

.mobileNavContainer{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 2;
}

.mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu{
    z-index: 1;
    position: absolute;
    top: -20px;
    right: 0;
    height: calc(100vh - 50px - 50px);
    padding: 52px 25px;
    background-color: #161616;
}

.mobile-menu .logo{
    margin-right: 20px;
}

.mobile-menu .logo img{
    width: 100%;
}

.mobile-menu .mobileNav li{
    list-style-type: none;
    display: grid;
    place-items: center;
}

.mobile-menu .mobileNav li:not(:last-child){
    margin-bottom: 26px;
}

.mobileNav li a:link,
.mobileNav li a:visited,
.mobileNav li a:hover,
.mobileNav li a:active{
    text-decoration: none;
    color: #1AFCEB;
    font-family: "MontserratRegular";
}

.mobile-menu  li:nth-child(3) a{
    color: #FFFFFF;
}

.mobileNavContainer .closeBtn{
    margin: 52px;
    cursor: pointer;
}

.mobileNav li:nth-child(3){
    text-decoration: none;
    background: rgb(179, 32, 32);
    padding: 15px 40px;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(179, 32, 32, .4);
    cursor: pointer;
}

header.active .mobileNavContainer{
    display: block;
}



@media (max-width: 2000px){
    .bgContainer{
        max-height: 4500px;
    }

    
.bottom{
    height: 100%;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 3930px;
}
}

@media (max-width: 1600px) {
    .footer h4{
        font-size: 160px;
    }

    .bgContainer{
        max-height: 4400px;
    }
}

@media (max-width: 1400px){
    .footer h4{
        font-size: 130px;
    }

    .bgContainer{
        max-height: 4300px;
    }
}

@media (max-width: 1250px){
    .footer h4{
        font-size: 110px;
    }
}

/* For tablet view */
@media (max-width: 1200px) {
    body{
        margin: 0 50px;
    }

    /* Changing navigation bar */
    nav ul{
        display: none;
    }

    nav .burger{
        display: block;
    }

    /* Changing font sizes */
    .introduction h1{ font-size: 110px; }
    .introduction h4{ font-size: 24px;  }
    .additionalInfo p{ font-size: 18px; }
    .about p{ font-size: 16px; }

    .swiper-slide.tranding-slid{
        width: 300px;
    }

    .imageContainer img{
        width: 300px;
    }

    .footerContainer{
        gap: 30px;
    }

    .bgContainer{
        max-height: 4200px;
    }
}

@media (max-width: 1150px){
    .bgContainer{
        max-height: 4100px;
    }
}

@media (max-width: 1050px){
    .bgContainer{
        max-height: 4000px;
    }

    #blueWaveOne{
        top: 950px;
    }
}

@media (max-width: 910px){
    .bgContainer{
        max-height: 4100px;
    }
}

@media (max-width: 850px){
    .bgContainer{
        max-height: 4300px;
    }

    #blueWaveOne{
        top: 900px;
    }
}

/* For phone view */
@media (max-width: 800px) {
    body{
        margin: 0 20px;
    }

    .container{
        margin: 0 40px;
    }

    /* Changing font sizes */
    .introduction h1{ 
        font-size: 80px; 
        margin-bottom: 20px;
    }

    .introduction h1::before{
        left: -40px;
    }

    .introduction h1::after{
        right: -40px;
    }

    .introduction h4{ 
        font-size: 18px; 
    }

    .about h4{
        font-size: 48px;
    }

    .about p{
        font-size: 14px;
    }

    .additionalInfo #gifAnimation{
        order: 1;
        margin-top: -90px;
    }

    .additionalInfo p{ 
        order: 2;
        font-size: 14px; 
    }

    .additionalInfo .voteBtn{
        order: 3;
    }

    .partners img{
        width: calc(100% + 80px);
    }

    .swiper-slide.tranding-slid{
        width: 250px;
    }

    .imageContainer img{
        width: 250px;
    }

    .FAQ h4{
        font-size: 48px;
    }
    
    .FAQ h3{
        font-size: 32px;
    }

    .FAQ p{
        font-size: 14px;
    }

    .bgContainer{
        max-height: 4200px;
    }

    #blueWaveOne{
        top: 1000px;
    }
}

@media only screen and (max-width: 800px){
    .container{
        margin: 0 5px;
    }

    .introduction h1{
        font-size: 54px;
        letter-spacing: 50%;
        margin-right: -12px;
    }

    
    .FAQ{
        background-size: 110% 102%;
        background-image: url("../img/MOBILE.png");
    }

    .footerContainer{
        margin-top: 36px;
        flex-direction: column;
        align-items: center;
    }

    .footer h4{
        text-align: center;
        font-size: 100px;
    }

    #footerLogo{
        width: 40%;
    }

    .mobile-menu{
        width: 200px;
    }
}

@media (max-width: 700px){
    .bgContainer{
        max-height: 4000px;
    }

    #blueWaveOne{
        top: 960px;
    }
}

@media only screen and (max-width: 700px) and (max-height: 800px){
    .bgContainer{
        max-height: 4450px;
    }
}